.slogan{
    margin-top: 15px;
    margin-bottom: 25px;
    font-size: 34x;
    font-weight: 300;
}
.slogan br{
    display: none;
}
.slogan span {
    color: aqua;
    font-size: 50px;
}
.num{
    color:blue;
    font-size: 80px;
    font-weight: 800;
}
.num1{
    color:blue;
    font-size: 80px;
    font-weight: 800;
}
.num2{
    color:blue;
    font-size: 80px;
    font-weight: 800;
   
}
.num3{
    color:blue;
    font-size: 80px;
    font-weight: 800;
}
.num4{
    color:blue;
    font-size: 80px;
    font-weight: 800;
}
.c1 {
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.05em;
    
}
.c2 {
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.05em;
}
.c3 {
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.05em;
}
.c4 {
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.05em;
}
.c5{
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.05em;
}
.nu{
    display: flex;

}
.nu1{
    display: flex;
}
.nu2{
    display: flex;
}
.nu3{
    display: flex;
}
.nu4{
    display: flex;
}
.nu5{
    display: flex;
}
.row{
    color: aqua;
    font-size: 50px;
}
.anh{
    display: flex;
    margin-top:50px;
    
}
.image-container {
    position: relative;
    width: 350px;
}
.image-container img {
    width: 100%;
    height: auto;
  }
  .text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    color: aliceblue;
    font-size: 24px;
    font-weight: bold;
   margin-top: 130px;
   font-weight: 800;
   font-size: 16px;
  }
  .image-container2 {
    position: relative;
    width: 350px;
}
.image-container2 img {
    width: 100%;
    height: auto;
  }
  .text-overlay2 {
    position: absolute;
    top: 50%;
    left: 50%;
    color: aliceblue;
    font-size: 24px;
    font-weight: bold;
   margin-top: 120px;
   font-size: 16px;
  }
  .image-container1 {
    position: relative;
    width: 350px;
}
.image-container1 img {
    width: 100%;
    height: auto;
  }
  .text-overlay1 {
    position: absolute;
    top: 50%;
    left: 50%;
    color: aliceblue;
    font-size: 24px;
    font-weight: bold;
   margin-top: 120px;
   font-size: 16px;
  
  }